@import "variables.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
* {
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
}
img{
    width: 100%;
    height: 100%;
}
.navbar{
    * {
        font-family: 'Source Code Pro', monospace;
    }
    width: 100%;
    background-color: $base-color;
    position: fixed !important; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
    .nav-link{
        
        font-weight: bold;
    }
}
.setBlack{
    color: black !important;
}
.right{ text-align: right; }
.left{ text-align: left; }
.bi-heart-fill{
    font-size: 1.5em;
    color: $dark-color;
    &:hover {
        color: $light-secondary_color;
     }
}


#flexCheckDefault{
    border-radius: 50%;
    &:checked{
        background-color: $base-color!important;
        border: 0.4px solid $dark-color;
    }
    &:hover{
        cursor: pointer;
        border: 0.4px solid $secondary-color;
        box-shadow: none;
    }
    &:focus{
        box-shadow: 1em $base-color;
    }
}
.hidden{
	opacity: 0;
}
.btnOn{
	top: 80%;
	left: 50%;
	font-size: 2em;
    &:hover{
        background-color: #fff;
    }
    a{
        display: block;
        color: black;
        text-decoration: none;
    }
}
.titleSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    hr{
        width: 70%;
        margin:auto;
    }
    .titles{
        font-size: 1em;
        text-align: center;
        font-weight: bold;
    }
}

.btnOn, .btnOnProducts{
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	padding: 1em;
	border: none;
	cursor: pointer;
	background-color: $button-background;
}
.btnOnProducts{
	top: 90%;
	left: 50%;
	width: 90%;
	font-size: 1em;
}

.crop {
    position: relative;
    z-index: 0;
    img{
        width: 100%;
        height: 30em;
        object-fit: cover;
    }
}
.first{
    margin-top: 6em;
}
.bottom{
    margin-bottom: 6em;
}
.container{
    padding: 5px;
}

.best-sellers{
    .card{
        border-radius: 0;
    }
    .card-header, .card-footer{
        background-color: #fff;
        border-bottom: 0;
        border-top: 0;
        img{
            width: 100%;
            height: 30em;
            object-fit: cover;
        }
    }
}
.imgShaped{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    height: auto;
    background-color: $secondary-color;
    .containerInfo{
        width: 100%;
        padding: 1em 5em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        color: #fff;
        .bold{
            font-weight: bold;
        }
        *{
            margin-bottom: 2em;
            &:last-child{
                margin-bottom: 0;
            }
            .bi-bag{
                &:hover{
                    cursor: pointer;
                }
                font-size: 2em;
                margin-right: 20px;
            }
        }
    }

    .ImgInfo{
        display: inline-block;
        width: 100%;
        .setImg{
            width: 100%;
            height: 30em;
            min-height: 460px;
            background-image: url("./assets/kyle-glenn-_AR74EoWdy0-unsplash.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
    }
}
.relatedProducts{
    .card{
        border-radius: 0;
        background-color: #fff;
        border: none;
        box-shadow: none;
        .card-header { 
            position: relative;
            &:hover .btnOnProducts{
                opacity: 1; 
            } 
        }
    }
    *{
        margin-bottom: 2em;
    }
    .card-header{
        border-bottom: 0;
        border-top: 0;
        background-color: #fff;
        box-shadow: none;
        img{
            width: 100%;
            height: 15em;
            object-fit: cover;
        }
    }
    .btnOnProducts{
        top: 70%;
        left: 50%;
        width: 80%;
        font-size: 0.9em;
    }
}
footer{
    background-color: $base-color;
}
.index{
    background-image: url('./assets/tyler-nix-HzWERZc5yP4-unsplash.jpg');
}
.ourProducts{
    background-image: url('./assets/nathan-dumlao-I_394sxx0ec-unsplash.jpg');
}
.productDetails{
    background-image: url('./assets/fly-d-WO9i-JbQHGQ-unsplash.jpg');
    height: 20em !important;
}
.parallax {
    /* The image used */ 
    height: 30em; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    position:relative;
    margin-bottom: 6em;
    *{
        font-family: 'Comfortaa', cursive;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: left;
        top: 20%;
        left: 20%;
    }
  }
.headerProducts{
    margin-top: 6em;
}
.myProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    hr{
        width: 50%;
        margin:auto;
    }
    .titles{
        font-size: 2em;
        text-align: center;
        font-weight: bold;
    }
}

aside{
    width: 100%;
}
.hovered{
    .card{     
        box-shadow: 2px 2px 2px 1px $border-shadow;
        width: 100%;
        margin-bottom: 10px;
        &:hover{
            border: 1px solid $base-color;
            cursor: pointer;
            filter: contrast(120%);
        }
        &:last-child{
            margin-bottom: 0px;
        }
        
        .card-header { 
            position: relative;
            &:hover .btnOnProducts{
                opacity: 1; 
            } 
        }
    }
}
.addToCart{
    padding: 10px;
    background-color: $dark-color;
    font-size:0.9em;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    border: none;
}
.productCard{
    img{
        box-shadow: 2px 2px 2px 2px $border-shadow
    }
    
    .card{
        box-shadow: none;
        border: none;
        width: 100%;
        height: 100%;
        
        img{
            height: 25em;
            object-fit: cover;
        }
        .card-body{
            .card-title{ 
                font-family: 'Source Code Pro', monospace;
            }
            padding: 10px;
            a{
                &:hover{ cursor: pointer;}
            }
            .el1{ margin-bottom: 0.4em; }
            .el{ margin-top: 2em; }
            .bi{
                font-size: 1em;
                margin-right: 0.3em;
                color: $base-color;
            }
            .cuantityEl{
                input{
                    width: 5em;
                }
                *{
                    border: 1px solid $border-shadow;
                    margin-right: 1em;
                }
                display: flex;
                flex-direction: row;
                align-content: stretch;
                justify-content: left;
            }
        }
    }
}
.badge{
    background-color: $light-secondary_color!important;
    margin-left: 10%;
}
@media screen and (max-width:600px) {
    h3{
		font-size: 0.5em;
	}
	.crop{
        button {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            font-size: 1em;
            padding: 1em;
            border: none;
            cursor: pointer;
            background-color: $button-background;
        }
	}
    .customize{
        .card{ 
            img{
                width: 100%;
                height: 10em;
                object-fit: cover;
            } 
        }
    }
    .parallax {
        height: 20em; 
        *{
            font-size: 1em;
        }
      }
	
}

@media screen and (min-width:600px) and (max-width:900px) {
	h3{
		font-size: 0.9em;
	}
    .card-set-max-height{
        height: 20em;
        img{
            height: 20em;
            object-fit: cover;
        } 
    }
    .card-product{
        height: 20em;
        img{
            height: 20em;
            object-fit: cover;
        } 
    }
    .customize{
        .card{ 
            img{
                width: 100%;
                height: 15em;
                object-fit: cover;
            } 
        }
    }
}
@media screen and (min-width:900px) {
    .card-set-max-height{
        height: 20em;
        img{
            height: 20em;
            object-fit: cover;
        } 
    }
    .card-product{
        height: 30em;
        img{
            height:30em;
            object-fit: cover;
        } 
    }
    .customize{
        .card{ 
            img{
                width: 100%;
                height: 25em;
                object-fit: cover;
            } 
        }
    }
    .imgShaped{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        .containerInfo , .ImgInfo{
            width: 50%;
        }
    }
        
}