$base-color: #bce29b;
$dark-color: #385939;
$light-secondary_color:#826d5a;
$secondary_color: #453326;
$third-color: #377439;
$border-content: rgba($base-color, 0.88);
$border-shadow: rgba(0, 0, 0, 0.2);
$button-background: rgba(255,255,255,0.7);
$badge-color: $base-color;
$primary: $base-color;
$form-check-input-border: 1px solid red;
$form-check-input-border-radius: 5em;